div {
    background-color: #6bbfff;
    padding: 30px;
    margin: 50px;
}

nav {
    background-color: #73a2fa;
}

body {
    background: #b5cfff;
}

a {
    color: #0000ff;
    font-weight: 500;
}

p {
  font-family: cursive;
}

.btn {
    margin: 20px;
    font-family: cursive;
}

.btn-warning {
    margin-right: 20px;
}
